 /* .conteiner{
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-image: url('../turistas.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  object-fit: contain !important; 
    background-attachment: fixed;
}  */
 .conteiner-cards{
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-image: url('../turistas.jpg');
  background-repeat: no-repeat;
  background-size:cover;
   object-fit: contain !important; 
  background-attachment: fixed;
  }  
  .cards{
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    

  }

.Background-cities{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    /* flex-grow: 1;
    background-image: url('../turistas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain !important; */
} 
/* From uiverse.io by @Alaner-xs */
.input {
  color: #8d6e63;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
 }
 
 .input:active {
  box-shadow: 2px 2px 15px #8d6e63 inset;
 }
 
 .input:hover {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 } 
 
 .input:focus {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }
   .inputText{
  background-color: #8d6e63;
 }  