h1{
    font-size: 3rem;
}
.Background{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url('../turistas.jpg');
    /* color: rgba(255, 255, 255, 0.438); */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain !important;
}



@media screen and (min-width: 2000px){
    .Background{
        min-height: 95vh;
    }
    .img-carrousel{
      height: 19vh;
      width: 35vw;
    }
}   
