.conteiner{
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 1rem;
    background-image: url('../turistas.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    /* object-fit: contain !important; */
    background-attachment: fixed;
}

.MuiContainer-root{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.conteiner-users{
    background-color: #8d6e63 !important;

}
/* .text{
    color: #8d6e63;
    background-color: #8d6e63;
} */

/* .MuiOutlinedInput-notchedOutline{
    color: black;
    background-color: #8d6e63;
} */