h1{
    font-size: 3rem;
}
.Background{

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url('../turistas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain !important;
}