@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.App {
  text-align: center;
}

.MuiPaper-root{
  background-color: #8d6e63 !important;
  color: white !important;
  font-family: 'Dancing Script', cursive !important;
}

.NavBarFont{
  font-family: 'Dancing Script', cursive !important;
}


